@model IEnumerable<jQueryAjax.Models.BankingModel>

@{
    ViewData["Title"] = "Index";
}


<h1 class="text-center"><i class="fas fa-comment-dollar text-success"></i>Banking Name</h1>

<div id="view-all">
    @await Html.PartialAsync("_VIewAll", Model)
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}